<div class="row accountPage">
    <div class="col sm-4 userSection">
        <div>
            <h5  style="text-transform: capitalize">שלום {{user.fname}} {{user.lname}}</h5>
        </div>
        <div>
            <li><a href="/profile">פרטי חשבון <i class="fa fa-md fa-user"></i></a></li>
        </div>
        <div>
            <li><a href="/profile/changeName">שינוי שם <i class="fa fa-id-badge" aria-hidden="true"></i></a></li>
        </div>
        <div>
            <li><a href="/profile/changeMail">שינוי מייל <i class="fa fa-md fa-envelope"></i></a></li>
        </div>
        <div>
            <li><a href="/profile/changePass"> שינוי סיסמה <i class="fa fa-md fa-key"></i></a></li>
        </div>
        <div>
            <li><a href="/profile/logout">יציאה <i class="fa fa-md fa-sign-out"></i></a></li>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col sm-8 userActionSection">
        <p>שם פרטי : {{user.fname}} </p>
        <p>שם משפחה : {{user.lname}} </p>
        <p>מייל : {{ user.email}} </p>
        
    </div>
</div>